/*
Errno::ENOENT: No such file or directory @ rb_sysopen - _3.4.0_

Backtrace:
c:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/plugin/compiler.rb:476:in `read'
c:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/plugin/compiler.rb:476:in `update_stylesheet'
c:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/plugin/compiler.rb:214:in `block in update_stylesheets'
c:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/plugin/compiler.rb:208:in `each'
c:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/plugin/compiler.rb:208:in `update_stylesheets'
c:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/plugin/compiler.rb:291:in `watch'
c:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/plugin.rb:108:in `method_missing'
c:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/exec/sass_scss.rb:349:in `watch_or_update'
c:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/exec/sass_scss.rb:50:in `process_result'
c:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/exec/base.rb:40:in `parse'
c:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.0/lib/sass/exec/base.rb:19:in `parse!'
c:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.0/bin/sass:13:in `<top (required)>'
c:/RailsInstaller/Ruby2.1.0/bin/sass:23:in `load'
c:/RailsInstaller/Ruby2.1.0/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - _3.4.0_"; }
