<section>
	<div class="page-wrap">
		<div class="form-box x-pad-1_0 y-pad-1_0 center-justify mid-blue-bg border-radius-0_5">
			<h1 class="very-light-blue">Sign Up or Login</h1>
			<br><br>
			<input id="admin-tab" type="radio" name="options" class="hidden" checked><!--
			--><label for="admin-tab">Admin</label>
			<div id="sign-up-in" class="border-radius-0_5">
				<div id="admin-signup">
					<form action="/signup" method="POST" class="x-pad-0_5 y-pad-0_5">
						<label for="" class="bold dark-blue">Email</label>
						<input type="email" name="email" placeholder="Email" value="">
						<label for="" class="bold dark-blue">Username</label>
						<input type="text" name="username" placeholder="Username" value="" minlength=4 maxlength=20>
						<label for="" class="bold dark-blue">Password</label>
						<input type="password" name="password" placeholder="Password" value="">
						<label for="" class="bold dark-blue">Confirm Password</label>
						<input type="password" name="passwordconfirm" placeholder="Confirm password" value="">
						<input type="hidden" name="formtype" value="admin">
						<span>This signup is meant for approved admins. If you have not been directed here by an admin, please use the other signup</span>
						<button>Submit</button>
					</form>
				</div>
			</div>
			<span id="err-msg">{{msg}}</span>
		</div>
	</div>
</section>