<section>
	<div class="page-wrap">
		<div class="x-pad-1_0 y-pad-1_0 center-justify border-radius-0_5">
			<h1 class="font-size-3_0 bold dark-blue">{{title}}</h1>
			<div class="y-marg-2_0">
				<div class="col-2-1 right-justify">
					<a href="app/apps/gcc-chat-win32-ia32.zip" class="inline-block x-marg-0_5 y-marg-0_5 x-pad-1_0 y-pad-1_0 mid-blue-bg very-light-blue border-radius-0_5 center-justify">Download<br>Windows (32)</a><br>
					<a href="app/apps/gcc-chat-win32-x64.zip" class="inline-block x-marg-0_5 y-marg-0_5 x-pad-1_0 y-pad-1_0 mid-blue-bg very-light-blue border-radius-0_5 center-justify">Download<br>Windows (x64)</a>
				</div><div class="col-2-1 left-justify">
					<a href="app/apps/gcc-chat-linux-ia32.zip" class="inline-block x-marg-0_5 y-marg-0_5 x-pad-1_0 y-pad-1_0 mid-blue-bg very-light-blue border-radius-0_5 center-justify">Download<br>Linux (32)</a><br>
					<a href="app/apps/gcc-chat-linux-x64.zip" class="inline-block x-marg-0_5 y-marg-0_5 x-pad-1_0 y-pad-1_0 mid-blue-bg very-light-blue border-radius-0_5 center-justify">Download<br>Linux (x64)</a>
				</div>
			</div>
		</div>
	</div>
</section>