<section>
	<div class="page-wrap">
		<div class="form-box x-pad-1_0 y-pad-1_0 center-justify mid-blue-bg border-radius-0_5">
			<h1 class="dark-blue font-size-3_0">{{error}}</h1>
			<p class="unset very-light-blue">
				{{message}}
			</p>
		</div>
	</div>
</section>