<section>
	<div class="page-wrap">
		<h1 class="font-size-3_0 center-justify black-font">{{title}}</h1>
	</div>
</section>
<section class="mid-blue-bg">
	<div class="page-wrap">
		<div class="col-3-2-1 x-pad-0_5 y-pad-0_5">
      <div class="light-blue-bg x-pad-1_0 y-pad-1_0 border-radius-0_2">
				<h1 class="font-size-2_5 center-justify black-font">News</h1>
				<ul class="unset items-list">
					<li class="y-pad-1_0">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... <a href="#">See More</a>
					</li>
					<li class="y-pad-1_0">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... <a href="#">See More</a>
					</li>
					<li class="y-pad-1_0">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... <a href="#">See More</a>
					</li>
					<li class="y-pad-1_0">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... <a href="#">See More</a>
					</li>
				</ul>
			</div>
		</div><!--
		--><div class="col-3-2-1 x-pad-0_5 y-pad-0_5">
      <div class="light-blue-bg x-pad-1_0 y-pad-1_0 border-radius-0_2">
				<h1 class="font-size-2_5 center-justify black-font">Tournaments</h1>
				<ul class="unset items-list">
					<li class="y-pad-1_0">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... <a href="#">See More</a>
					</li>
					<li class="y-pad-1_0">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... <a href="#">See More</a>
					</li>
					<li class="y-pad-1_0">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... <a href="#">See More</a>
					</li>
					<li class="y-pad-1_0">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... <a href="#">See More</a>
					</li>
				</ul>
		</div>
		</div><!--
		--><div class="col-3-2-1 x-pad-0_5 y-pad-0_5">
      <div class="light-blue-bg x-pad-1_0 y-pad-1_0 border-radius-0_2">
				<h1 class="font-size-2_5 center-justify black-font">Feed</h1>
				<ul class="unset items-list">
					<li class="y-pad-1_0">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... <a href="#">See More</a>
					</li>
					<li class="y-pad-1_0">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... <a href="#">See More</a>
					</li>
					<li class="y-pad-1_0">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... <a href="#">See More</a>
					</li>
					<li class="y-pad-1_0">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... <a href="#">See More</a>
					</li>
				</ul>
		</div>
	</div>
	</div>
</section>