<section>
	<div class="page-wrap">
		<div class="border-radius-0_5 x-pad-1_0 y-pad-3_0 dark-blue center-justify bold mid-blue-bg">
			<h1 class="font-size-3_0">Offline</h1>
			<div class="x-marg-1_0"></div>
			<p>
				The chat is closed right now. Check back next Saturday!
			</p>
			<div class="x-marg-1_0"></div>
			<a href="/logout" class="x-pad-1_0 y-pad-1_0 dim-blue-bg very-light-blue border-radius-0_5">Logout</a>
			<a href="/" class="x-pad-1_0 y-pad-1_0 dim-blue-bg very-light-blue border-radius-0_5">Retry</a>
		</div>
	</div>
</section>
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/touch.js"></script>