<section class="pm-layout">
	<div id="user-data" class="hidden" data-usernamefull="{{usernameFull}}" data-access="{{accessLevel}}"></div>
	<div id="room" class="hidden" data-room="{{room}}"></div>
	<div class="page-wrap">
		<div id="app">
			<div id="chat-box" class="pm no-time">
				<div class="parent fillout">
					<div id="messages"></div>
					<form id="chat-form">
						<div class="fillout parent">
							<input id="chat-val" type="text" name="msg" placeholder="Enter chat message...">
							<button type="submit" >SEND</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/chat-handle-pm.js"></script>
<script src="//cdn.jsdelivr.net/emojione/1.5.0/lib/js/emojione.min.js"></script>