*, *:before, *:after {
  font-size: 16px;
  box-sizing: border-box;
  font-family: sans-serif;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
}

.alert-box {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 3.2px 1.6px #004B6E;
}

.alert-box .alert {
  position: relative;
  width: 320px;
  margin: 0;
  padding: 16px 16px 80px;
  background: #017ab1;
  box-shadow: inset 0 0 0 2px #004B6E;
  border-radius: 3px;
  text-align: center;
}

.alert-box .alert .commands {
  position: absolute;
  bottom: 1em;
  left: 0;
  width: 100%;
  text-align: center;
}

.alert-box .alert .commands form {
  display: inline-block;
  margin: 0 0.5em;
}

.alert-box .alert .commands form input {
  display: block;
  width: 100%;
  border-radius: 3px;
  margin: 0;
  padding: .5em;
  background: #e8f8ff;
  box-shadow: inset 0 0 0 2px #004B6E;
  border-radius: 3px;
  text-align: center;
  border: none;
}

.alert-box .alert .commands form button {
  border: 2px solid #004B6E;
  background: #00a2eb;
  border-radius: 3px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
}

::-webkit-scrollbar-track-piece:active {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #00a2eb;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
  box-shadow: inset 0 0 2px 0 #004B6E;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e8f8ff;
}

::-webkit-scrollbar-thumb:active {
  background-color: #00a2eb;
}

::-webkit-scrollbar-button {
  background-color: #00a2eb;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
  box-shadow: inset 0 0 2px 0 #004B6E;
}

::-webkit-scrollbar-button:hover {
  background-color: #e8f8ff;
}

::-webkit-scrollbar-button:active {
  background-color: #00a2eb;
}

::-webkit-scrollbar-corner {
  background-color: #1b002e;
}

::selection {
  background: #017ab1;
  color: #e8f8ff;
}

::selection:window-inactive {
  background-color: #00a2eb;
  color: #e8f8ff;
}

/*///////////////////////// prerequisites /////////////////////////*/
a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  box-shadow: 0 2px 0 0 #004B6E;
  border-radius: 0 0 2px 2px;
  line-height: 22px;
}

body {
  margin: 0;
  background: #9be0ff;
  color: #282828;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

header, section, footer {
  display: block;
}

/* recycle styles */
.parent {
  position: relative;
}

section {
  position: relative;
  padding: 80px 0;
  z-index: 1;
  pointer-events: none;
}

.page-wrap {
  position: relative;
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  pointer-events: auto;
}

.img-contain img {
  max-width: 100%;
  max-height: 100%;
}

.img-cover img {
  max-width: 100%;
  text-align: center;
}

.black-font {
  color: black;
}

.mid-blue {
  color: #00a2eb;
}

.mid-blue-bg {
  background: #00a2eb;
}

.dim-blue {
  color: #017ab1;
}

.dim-blue-bg {
  background: #017ab1;
}

.light-blue {
  color: #9be0ff;
}

.light-blue-bg {
  background: #9be0ff;
}

.very-light-blue {
  color: #e8f8ff;
}

.very-light-blue-bg {
  background: #e8f8ff;
}

.dark-blue {
  color: #004B6E;
}

.dark-blue-bg {
  background: #004B6E;
}

.underline {
  text-decoration: underline;
}

.left-justify {
  text-align: left;
}

.center-justify {
  text-align: center;
}

.right-justify {
  text-align: right;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}

.bold {
  font-weight: bold;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

.hidden-force {
  display: none !important;
}

.of-hidden {
  overflow: hidden;
}

.invisible {
  visibility: hidden;
}

.line-spacer {
  margin: 8px auto;
  max-width: 50%;
  height: 4px;
}

.fillout {
  width: 100%;
  height: 100%;
}

.fullheight {
  height: 100%;
}

.unset {
  padding: 0;
  margin: 0;
}

.unset-force {
  padding: 0 !important;
  margin: 0 !important;
}

.form-box {
  max-width: 320px;
  margin: 0 auto;
}

.form-box input, .form-box textarea, .form-box button, .form-box select {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
  background: #e8f8ff;
}

.form-box button {
  background: #017ab1;
  color: #e8f8ff;
  cursor: pointer;
}

.form-box button:hover {
  background: #058BC7;
}

/* column styles */
.col-4-3-2-1 {
  display: inline-block;
  width: 25%;
}

.col-3-2-1 {
  display: inline-block;
  width: 33.3333333333%;
}

.col-2-1 {
  display: inline-block;
  width: 50%;
}

.col-2 {
  display: inline-block;
  width: 50%;
}

.col-3 {
  display: inline-block;
  width: 33.3333333333%;
}

.col-4 {
  display: inline-block;
  width: 25%;
}

/* font styles */
.font-size-1_0 {
  font-size: 1em;
}

.font-size-1_1 {
  font-size: 1.2em;
}

.font-size-1_2 {
  font-size: 1.4em;
}

.font-size-1_3 {
  font-size: 1.6em;
}

.font-size-1_4 {
  font-size: 1.8em;
}

.font-size-1_5 {
  font-size: 2em;
}

.font-size-2_0 {
  font-size: 2em;
}

.font-size-2_1 {
  font-size: 2.2em;
}

.font-size-2_2 {
  font-size: 2.4em;
}

.font-size-2_3 {
  font-size: 2.6em;
}

.font-size-2_4 {
  font-size: 2.8em;
}

.font-size-2_5 {
  font-size: 3em;
}

.font-size-3_0 {
  font-size: 3em;
}

.font-size-3_1 {
  font-size: 3.2em;
}

.font-size-3_2 {
  font-size: 3.4em;
}

.font-size-3_3 {
  font-size: 3.6em;
}

.font-size-3_4 {
  font-size: 3.8em;
}

.font-size-3_5 {
  font-size: 4em;
}

/* padding styles */
/* x-axis */
.x-pad-0_0 {
  padding-left: 0em;
  padding-right: 0em;
}

.x-pad-0_1 {
  padding-left: 0.1em;
  padding-right: 0.1em;
}

.x-pad-0_2 {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.x-pad-0_3 {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.x-pad-0_4 {
  padding-left: 0.4em;
  padding-right: 0.4em;
}

.x-pad-0_5 {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.x-pad-0_6 {
  padding-left: 0.6em;
  padding-right: 0.6em;
}

.x-pad-0_7 {
  padding-left: 0.7em;
  padding-right: 0.7em;
}

.x-pad-0_8 {
  padding-left: 0.8em;
  padding-right: 0.8em;
}

.x-pad-0_9 {
  padding-left: 0.9em;
  padding-right: 0.9em;
}

.x-pad-1_0 {
  padding-left: 1em;
  padding-right: 1em;
}

.x-pad-1_1 {
  padding-left: 1.1em;
  padding-right: 1.1em;
}

.x-pad-1_2 {
  padding-left: 1.2em;
  padding-right: 1.2em;
}

.x-pad-1_3 {
  padding-left: 1.3em;
  padding-right: 1.3em;
}

.x-pad-1_4 {
  padding-left: 1.4em;
  padding-right: 1.4em;
}

.x-pad-1_5 {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.x-pad-1_6 {
  padding-left: 1.6em;
  padding-right: 1.6em;
}

.x-pad-1_7 {
  padding-left: 1.7em;
  padding-right: 1.7em;
}

.x-pad-1_8 {
  padding-left: 1.8em;
  padding-right: 1.8em;
}

.x-pad-1_9 {
  padding-left: 1.9em;
  padding-right: 1.9em;
}

.x-pad-2_0 {
  padding-left: 2em;
  padding-right: 2em;
}

.x-pad-2_1 {
  padding-left: 2.1em;
  padding-right: 2.1em;
}

.x-pad-2_2 {
  padding-left: 2.2em;
  padding-right: 2.2em;
}

.x-pad-2_3 {
  padding-left: 2.3em;
  padding-right: 2.3em;
}

.x-pad-2_4 {
  padding-left: 2.4em;
  padding-right: 2.4em;
}

.x-pad-2_5 {
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.x-pad-2_6 {
  padding-left: 2.6em;
  padding-right: 2.6em;
}

.x-pad-2_7 {
  padding-left: 2.7em;
  padding-right: 2.7em;
}

.x-pad-2_8 {
  padding-left: 2.8em;
  padding-right: 2.8em;
}

.x-pad-2_9 {
  padding-left: 2.9em;
  padding-right: 2.9em;
}

.x-pad-3_0 {
  padding-left: 3em;
  padding-right: 3em;
}

.x-pad-3_1 {
  padding-left: 3.1em;
  padding-right: 3.1em;
}

.x-pad-3_2 {
  padding-left: 3.2em;
  padding-right: 3.2em;
}

.x-pad-3_3 {
  padding-left: 3.3em;
  padding-right: 3.3em;
}

.x-pad-3_4 {
  padding-left: 3.4em;
  padding-right: 3.4em;
}

.x-pad-3_5 {
  padding-left: 3.5em;
  padding-right: 3.5em;
}

.x-pad-3_6 {
  padding-left: 3.6em;
  padding-right: 3.6em;
}

.x-pad-3_7 {
  padding-left: 3.7em;
  padding-right: 3.7em;
}

.x-pad-3_8 {
  padding-left: 3.8em;
  padding-right: 3.8em;
}

.x-pad-3_9 {
  padding-left: 3.9em;
  padding-right: 3.9em;
}

/* y-axis */
.y-pad-0_0 {
  padding-top: 0em;
  padding-bottom: 0em;
}

.y-pad-0_1 {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.y-pad-0_2 {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.y-pad-0_3 {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.y-pad-0_4 {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.y-pad-0_5 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.y-pad-0_6 {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.y-pad-0_7 {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.y-pad-0_8 {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.y-pad-0_9 {
  padding-top: 0.9em;
  padding-bottom: 0.9em;
}

.y-pad-1_0 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.y-pad-1_1 {
  padding-top: 1.1em;
  padding-bottom: 1.1em;
}

.y-pad-1_2 {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

.y-pad-1_3 {
  padding-top: 1.3em;
  padding-bottom: 1.3em;
}

.y-pad-1_4 {
  padding-top: 1.4em;
  padding-bottom: 1.4em;
}

.y-pad-1_5 {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.y-pad-1_6 {
  padding-top: 1.6em;
  padding-bottom: 1.6em;
}

.y-pad-1_7 {
  padding-top: 1.7em;
  padding-bottom: 1.7em;
}

.y-pad-1_8 {
  padding-top: 1.8em;
  padding-bottom: 1.8em;
}

.y-pad-1_9 {
  padding-top: 1.9em;
  padding-bottom: 1.9em;
}

.y-pad-2_0 {
  padding-top: 2em;
  padding-bottom: 2em;
}

.y-pad-2_1 {
  padding-top: 2.1em;
  padding-bottom: 2.1em;
}

.y-pad-2_2 {
  padding-top: 2.2em;
  padding-bottom: 2.2em;
}

.y-pad-2_3 {
  padding-top: 2.3em;
  padding-bottom: 2.3em;
}

.y-pad-2_4 {
  padding-top: 2.4em;
  padding-bottom: 2.4em;
}

.y-pad-2_5 {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.y-pad-2_6 {
  padding-top: 2.6em;
  padding-bottom: 2.6em;
}

.y-pad-2_7 {
  padding-top: 2.7em;
  padding-bottom: 2.7em;
}

.y-pad-2_8 {
  padding-top: 2.8em;
  padding-bottom: 2.8em;
}

.y-pad-2_9 {
  padding-top: 2.9em;
  padding-bottom: 2.9em;
}

.y-pad-3_0 {
  padding-top: 3em;
  padding-bottom: 3em;
}

.y-pad-3_1 {
  padding-top: 3.1em;
  padding-bottom: 3.1em;
}

.y-pad-3_2 {
  padding-top: 3.2em;
  padding-bottom: 3.2em;
}

.y-pad-3_3 {
  padding-top: 3.3em;
  padding-bottom: 3.3em;
}

.y-pad-3_4 {
  padding-top: 3.4em;
  padding-bottom: 3.4em;
}

.y-pad-3_5 {
  padding-top: 3.5em;
  padding-bottom: 3.5em;
}

.y-pad-3_6 {
  padding-top: 3.6em;
  padding-bottom: 3.6em;
}

.y-pad-3_7 {
  padding-top: 3.7em;
  padding-bottom: 3.7em;
}

.y-pad-3_8 {
  padding-top: 3.8em;
  padding-bottom: 3.8em;
}

.y-pad-3_9 {
  padding-top: 3.9em;
  padding-bottom: 3.9em;
}

/* margin styles */
/* x-axis */
.x-marg-0_0 {
  margin-left: 0em;
  margin-right: 0em;
}

.x-marg-0_1 {
  margin-left: 0.1em;
  margin-right: 0.1em;
}

.x-marg-0_2 {
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.x-marg-0_3 {
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.x-marg-0_4 {
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.x-marg-0_5 {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.x-marg-0_6 {
  margin-left: 0.6em;
  margin-right: 0.6em;
}

.x-marg-0_7 {
  margin-left: 0.7em;
  margin-right: 0.7em;
}

.x-marg-0_8 {
  margin-left: 0.8em;
  margin-right: 0.8em;
}

.x-marg-0_9 {
  margin-left: 0.9em;
  margin-right: 0.9em;
}

.x-marg-1_0 {
  margin-left: 1em;
  margin-right: 1em;
}

.x-marg-1_1 {
  margin-left: 1.1em;
  margin-right: 1.1em;
}

.x-marg-1_2 {
  margin-left: 1.2em;
  margin-right: 1.2em;
}

.x-marg-1_3 {
  margin-left: 1.3em;
  margin-right: 1.3em;
}

.x-marg-1_4 {
  margin-left: 1.4em;
  margin-right: 1.4em;
}

.x-marg-1_5 {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.x-marg-1_6 {
  margin-left: 1.6em;
  margin-right: 1.6em;
}

.x-marg-1_7 {
  margin-left: 1.7em;
  margin-right: 1.7em;
}

.x-marg-1_8 {
  margin-left: 1.8em;
  margin-right: 1.8em;
}

.x-marg-1_9 {
  margin-left: 1.9em;
  margin-right: 1.9em;
}

.x-marg-2_0 {
  margin-left: 2em;
  margin-right: 2em;
}

.x-marg-2_1 {
  margin-left: 2.1em;
  margin-right: 2.1em;
}

.x-marg-2_2 {
  margin-left: 2.2em;
  margin-right: 2.2em;
}

.x-marg-2_3 {
  margin-left: 2.3em;
  margin-right: 2.3em;
}

.x-marg-2_4 {
  margin-left: 2.4em;
  margin-right: 2.4em;
}

.x-marg-2_5 {
  margin-left: 2.5em;
  margin-right: 2.5em;
}

.x-marg-2_6 {
  margin-left: 2.6em;
  margin-right: 2.6em;
}

.x-marg-2_7 {
  margin-left: 2.7em;
  margin-right: 2.7em;
}

.x-marg-2_8 {
  margin-left: 2.8em;
  margin-right: 2.8em;
}

.x-marg-2_9 {
  margin-left: 2.9em;
  margin-right: 2.9em;
}

.x-marg-3_0 {
  margin-left: 3em;
  margin-right: 3em;
}

.x-marg-3_1 {
  margin-left: 3.1em;
  margin-right: 3.1em;
}

.x-marg-3_2 {
  margin-left: 3.2em;
  margin-right: 3.2em;
}

.x-marg-3_3 {
  margin-left: 3.3em;
  margin-right: 3.3em;
}

.x-marg-3_4 {
  margin-left: 3.4em;
  margin-right: 3.4em;
}

.x-marg-3_5 {
  margin-left: 3.5em;
  margin-right: 3.5em;
}

.x-marg-3_6 {
  margin-left: 3.6em;
  margin-right: 3.6em;
}

.x-marg-3_7 {
  margin-left: 3.7em;
  margin-right: 3.7em;
}

.x-marg-3_8 {
  margin-left: 3.8em;
  margin-right: 3.8em;
}

.x-marg-3_9 {
  margin-left: 3.9em;
  margin-right: 3.9em;
}

/* y-axis */
.y-marg-0_0 {
  margin-top: 0em;
  margin-bottom: 0em;
}

.y-marg-0_1 {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.y-marg-0_2 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.y-marg-0_3 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.y-marg-0_4 {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.y-marg-0_5 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.y-marg-0_6 {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.y-marg-0_7 {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.y-marg-0_8 {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.y-marg-0_9 {
  margin-top: 0.9em;
  margin-bottom: 0.9em;
}

.y-marg-1_0 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.y-marg-1_1 {
  margin-top: 1.1em;
  margin-bottom: 1.1em;
}

.y-marg-1_2 {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.y-marg-1_3 {
  margin-top: 1.3em;
  margin-bottom: 1.3em;
}

.y-marg-1_4 {
  margin-top: 1.4em;
  margin-bottom: 1.4em;
}

.y-marg-1_5 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.y-marg-1_6 {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}

.y-marg-1_7 {
  margin-top: 1.7em;
  margin-bottom: 1.7em;
}

.y-marg-1_8 {
  margin-top: 1.8em;
  margin-bottom: 1.8em;
}

.y-marg-1_9 {
  margin-top: 1.9em;
  margin-bottom: 1.9em;
}

.y-marg-2_0 {
  margin-top: 2em;
  margin-bottom: 2em;
}

.y-marg-2_1 {
  margin-top: 2.1em;
  margin-bottom: 2.1em;
}

.y-marg-2_2 {
  margin-top: 2.2em;
  margin-bottom: 2.2em;
}

.y-marg-2_3 {
  margin-top: 2.3em;
  margin-bottom: 2.3em;
}

.y-marg-2_4 {
  margin-top: 2.4em;
  margin-bottom: 2.4em;
}

.y-marg-2_5 {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.y-marg-2_6 {
  margin-top: 2.6em;
  margin-bottom: 2.6em;
}

.y-marg-2_7 {
  margin-top: 2.7em;
  margin-bottom: 2.7em;
}

.y-marg-2_8 {
  margin-top: 2.8em;
  margin-bottom: 2.8em;
}

.y-marg-2_9 {
  margin-top: 2.9em;
  margin-bottom: 2.9em;
}

.y-marg-3_0 {
  margin-top: 3em;
  margin-bottom: 3em;
}

.y-marg-3_1 {
  margin-top: 3.1em;
  margin-bottom: 3.1em;
}

.y-marg-3_2 {
  margin-top: 3.2em;
  margin-bottom: 3.2em;
}

.y-marg-3_3 {
  margin-top: 3.3em;
  margin-bottom: 3.3em;
}

.y-marg-3_4 {
  margin-top: 3.4em;
  margin-bottom: 3.4em;
}

.y-marg-3_5 {
  margin-top: 3.5em;
  margin-bottom: 3.5em;
}

.y-marg-3_6 {
  margin-top: 3.6em;
  margin-bottom: 3.6em;
}

.y-marg-3_7 {
  margin-top: 3.7em;
  margin-bottom: 3.7em;
}

.y-marg-3_8 {
  margin-top: 3.8em;
  margin-bottom: 3.8em;
}

.y-marg-3_9 {
  margin-top: 3.9em;
  margin-bottom: 3.9em;
}

/* border radius */
.border-radius-0_0 {
  border-radius: 0em;
}

.border-radius-0_1 {
  border-radius: 0.1em;
}

.border-radius-0_2 {
  border-radius: 0.2em;
}

.border-radius-0_3 {
  border-radius: 0.3em;
}

.border-radius-0_4 {
  border-radius: 0.4em;
}

.border-radius-0_5 {
  border-radius: 0.5em;
}

.border-radius-0_6 {
  border-radius: 0.6em;
}

.border-radius-0_7 {
  border-radius: 0.7em;
}

.border-radius-0_8 {
  border-radius: 0.8em;
}

.border-radius-0_9 {
  border-radius: 0.9em;
}

.border-radius-1_0 {
  border-radius: 1em;
}

.border-radius-1_1 {
  border-radius: 1.1em;
}

.border-radius-1_2 {
  border-radius: 1.2em;
}

.border-radius-1_3 {
  border-radius: 1.3em;
}

.border-radius-1_4 {
  border-radius: 1.4em;
}

.border-radius-1_5 {
  border-radius: 1.5em;
}

.border-radius-1_6 {
  border-radius: 1.6em;
}

.border-radius-1_7 {
  border-radius: 1.7em;
}

.border-radius-1_8 {
  border-radius: 1.8em;
}

.border-radius-1_9 {
  border-radius: 1.9em;
}

.border-radius-2_0 {
  border-radius: 2em;
}

.border-radius-2_1 {
  border-radius: 2.1em;
}

.border-radius-2_2 {
  border-radius: 2.2em;
}

.border-radius-2_3 {
  border-radius: 2.3em;
}

.border-radius-2_4 {
  border-radius: 2.4em;
}

.border-radius-2_5 {
  border-radius: 2.5em;
}

.border-radius-2_6 {
  border-radius: 2.6em;
}

.border-radius-2_7 {
  border-radius: 2.7em;
}

.border-radius-2_8 {
  border-radius: 2.8em;
}

.border-radius-2_9 {
  border-radius: 2.9em;
}

.border-radius-3_0 {
  border-radius: 3em;
}

.border-radius-3_1 {
  border-radius: 3.1em;
}

.border-radius-3_2 {
  border-radius: 3.2em;
}

.border-radius-3_3 {
  border-radius: 3.3em;
}

.border-radius-3_4 {
  border-radius: 3.4em;
}

.border-radius-3_5 {
  border-radius: 3.5em;
}

.border-radius-3_6 {
  border-radius: 3.6em;
}

.border-radius-3_7 {
  border-radius: 3.7em;
}

.border-radius-3_8 {
  border-radius: 3.8em;
}

.border-radius-3_9 {
  border-radius: 3.9em;
}

.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.items-list li:not(:last-child) {
  margin: 0 0 2px;
  box-shadow: 0 17.6px 0 -16px #017ab1;
}

/*///////////////////////// content styling /////////////////////////*/
/* body ----------------------------*/
body.home #home {
  box-shadow: inset 0 -1.6px 0 0 #e8f8ff;
}

/*signupin*/
label[for="signup-tab"], label[for="login-tab"], label[for="admin-tab"] {
  position: relative;
  top: 6.4px;
  padding: 8px 12.8px 16px;
  margin: 0px 8px -9.6px;
  background: #9be0ff;
  display: inline-block;
  border-radius: 8px;
  cursor: pointer;
}

label[for="signup-tab"]:before, label[for="login-tab"]:before, label[for="admin-tab"]:before {
  content: "";
  position: absolute;
  right: 99%;
  bottom: 9.6px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 0 0 #9be0ff;
}

label[for="signup-tab"]:after, label[for="login-tab"]:after, label[for="admin-tab"]:after {
  content: "";
  position: absolute;
  left: 99%;
  bottom: 9.6px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 0 0 #9be0ff;
}

label[for="admin-tab"] {
  color: red;
}

#signup-tab ~ #sign-up-in #signup {
  display: none;
}

#signup-tab:checked + label {
  top: 0;
}

#signup-tab:checked + label:before {
  content: "";
  position: absolute;
  right: 99%;
  bottom: 9.6px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  box-shadow: 6.4px 6.4px 0 0 #9be0ff;
}

#signup-tab:checked + label:after {
  content: "";
  position: absolute;
  left: 99%;
  bottom: 9.6px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  box-shadow: -6.4px 6.4px 0 0 #9be0ff;
}

#signup-tab:checked ~ #sign-up-in #signup {
  display: block;
}

#login-tab ~ #sign-up-in #login {
  display: none;
}

#login-tab:checked + label {
  top: 0;
}

#login-tab:checked + label:before {
  content: "";
  position: absolute;
  right: 99%;
  bottom: 9.6px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  box-shadow: 6.4px 6.4px 0 0 #9be0ff;
}

#login-tab:checked + label:after {
  content: "";
  position: absolute;
  left: 99%;
  bottom: 9.6px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  box-shadow: -6.4px 6.4px 0 0 #9be0ff;
}

#login-tab:checked ~ #sign-up-in #login {
  display: block;
}

#admin-tab {
  display: none;
}

#admin-tab:not(:checked) ~ #sign-up-in #admin-signup {
  display: none;
}

#admin-tab:checked + label {
  top: 0;
}

#admin-tab:checked + label:before {
  content: "";
  position: absolute;
  right: 99%;
  bottom: 9.6px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  box-shadow: 6.4px 6.4px 0 0 #9be0ff;
}

#admin-tab:checked + label:after {
  content: "";
  position: absolute;
  left: 99%;
  bottom: 9.6px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  box-shadow: -6.4px 6.4px 0 0 #9be0ff;
}

#admin-tab:checked ~ #sign-up-in #admin-signup {
  display: block;
}

#sign-up-in {
  position: relative;
  background: #9be0ff;
  z-index: 1;
}

#sign-up-in button {
  margin: 0;
}

/*chat*/
.notification {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3.2px;
  background: #00ff0a;
}

#app {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-bottom: 64px;
  pointer-events: none;
}

.pm-layout #app {
  padding: 3.2px 0 0;
}

#chat-box {
  position: relative;
  margin: 0 auto;
  top: 0%;
  left: 0%;
  display: block;
  width: 100%;
  height: 100%;
  max-width: 640px;
  background-color: #004B6E;
  border-radius: 8px;
  box-shadow: 0 0 0 3.2px #004B6E;
  pointer-events: auto;
  /*private message box styling*/
}

#chat-box.no-time .time-code {
  display: none;
}

#chat-box > div {
  padding: 0 208px 56.64px 0;
  overflow: hidden;
}

#chat-box > div #messages {
  display: block;
  border-radius: 8px 0 0 0;
  width: 100%;
  height: 100%;
  background-color: #e8f8ff;
  text-align: left;
  overflow-y: auto;
}

#chat-box > div #messages.hide-time .time-code {
  display: none;
}

#chat-box > div #messages .chat, #chat-box > div #messages .update, #chat-box > div #messages .command, #chat-box > div #messages .plain {
  padding: 3.2px 8px;
  list-style: none;
}

#chat-box > div #messages .chat .time-code, #chat-box > div #messages .update .time-code, #chat-box > div #messages .command .time-code, #chat-box > div #messages .plain .time-code {
  display: none;
}

#chat-box > div #messages .chat > p, #chat-box > div #messages .update > p, #chat-box > div #messages .command > p, #chat-box > div #messages .plain > p {
  /* user-select: text;
					-moz-user-select: text;
					-webkit-user-select: text;
					-ms-user-select: text; */
}

#chat-box > div #messages .chat p, #chat-box > div #messages .update p, #chat-box > div #messages .command p, #chat-box > div #messages .plain p {
  display: inline-block;
  margin: 0;
  padding: 8px;
  border-radius: 8px;
  word-break: break-word;
  background-color: rgba(0, 200, 255, 0.2);
}

#chat-box > div #messages .chat p .mention, #chat-box > div #messages .update p .mention, #chat-box > div #messages .command p .mention, #chat-box > div #messages .plain p .mention {
  background-color: #e8f8ff;
  color: #004B6E;
  border-radius: 8px;
  box-shadow: 0 0.8px 0 3.2px #e8f8ff;
}

#chat-box > div #messages .chat p .emote, #chat-box > div #messages .update p .emote, #chat-box > div #messages .command p .emote, #chat-box > div #messages .plain p .emote {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  background-color: yellow;
  border-radius: 100%;
}

#chat-box > div #messages .chat p .emote span, #chat-box > div #messages .update p .emote span, #chat-box > div #messages .command p .emote span, #chat-box > div #messages .plain p .emote span {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -ms-transform: rotate(90deg) translate(-25%, 60%);
  -moz-transform: rotate(90deg) translate(-25%, 60%);
  -webkit-transform: rotate(90deg) translate(-25%, 60%);
  transform: rotate(90deg) translate(-25%, 60%);
}

#chat-box > div #messages .chat .user:hover, #chat-box > div #messages .update .user:hover, #chat-box > div #messages .command .user:hover, #chat-box > div #messages .plain .user:hover {
  text-decoration: underline;
  cursor: pointer;
}

#chat-box > div #messages .chat > .user, #chat-box > div #messages .update > .user, #chat-box > div #messages .command > .user, #chat-box > div #messages .plain > .user {
  display: inline-block;
  padding: 8px;
  margin: 0 0 8px;
  border-radius: 8px;
}

#chat-box > div #messages .chat > .user.black, #chat-box > div #messages .update > .user.black, #chat-box > div #messages .command > .user.black, #chat-box > div #messages .plain > .user.black {
  color: black;
}

#chat-box > div #messages .chat > .user.grey, #chat-box > div #messages .update > .user.grey, #chat-box > div #messages .command > .user.grey, #chat-box > div #messages .plain > .user.grey {
  color: grey;
}

#chat-box > div #messages .chat > .user.brown, #chat-box > div #messages .update > .user.brown, #chat-box > div #messages .command > .user.brown, #chat-box > div #messages .plain > .user.brown {
  color: brown;
}

#chat-box > div #messages .chat > .user.green, #chat-box > div #messages .update > .user.green, #chat-box > div #messages .command > .user.green, #chat-box > div #messages .plain > .user.green {
  color: green;
}

#chat-box > div #messages .chat > .user.blue, #chat-box > div #messages .update > .user.blue, #chat-box > div #messages .command > .user.blue, #chat-box > div #messages .plain > .user.blue {
  color: blue;
}

#chat-box > div #messages .chat > .user.orange, #chat-box > div #messages .update > .user.orange, #chat-box > div #messages .command > .user.orange, #chat-box > div #messages .plain > .user.orange {
  color: orange;
}

#chat-box > div #messages .chat > .user.pink, #chat-box > div #messages .update > .user.pink, #chat-box > div #messages .command > .user.pink, #chat-box > div #messages .plain > .user.pink {
  color: pink;
}

#chat-box > div #messages .chat > .regular, #chat-box > div #messages .update > .regular, #chat-box > div #messages .command > .regular, #chat-box > div #messages .plain > .regular {
  box-shadow: inset 0 -6.4px 0 0 grey, inset 0 6.4px 0 0 grey;
}

#chat-box > div #messages .chat > .teen-mod, #chat-box > div #messages .update > .teen-mod, #chat-box > div #messages .command > .teen-mod, #chat-box > div #messages .plain > .teen-mod {
  box-shadow: inset 0 -6.4px 0 0 #00c800, inset 0 6.4px 0 0 #00c800;
}

#chat-box > div #messages .chat > .junior-mod, #chat-box > div #messages .update > .junior-mod, #chat-box > div #messages .command > .junior-mod, #chat-box > div #messages .plain > .junior-mod {
  box-shadow: inset 0 -6.4px 0 0 orange, inset 0 6.4px 0 0 orange;
}

#chat-box > div #messages .chat > .moderator, #chat-box > div #messages .update > .moderator, #chat-box > div #messages .command > .moderator, #chat-box > div #messages .plain > .moderator {
  box-shadow: inset 0 -6.4px 0 0 blue, inset 0 6.4px 0 0 blue;
}

#chat-box > div #messages .chat > .admin, #chat-box > div #messages .update > .admin, #chat-box > div #messages .command > .admin, #chat-box > div #messages .plain > .admin {
  box-shadow: inset 0 -6.4px 0 0 red, inset 0 6.4px 0 0 red;
}

#chat-box > div #messages .chat:nth-of-type(odd) p {
  background-color: rgba(0, 150, 200, 0.2);
}

#chat-box > div #messages .update {
  background-color: #00ffa0;
}

#chat-box > div #messages .emojione {
  height: 16px;
}

#chat-box > div #messages.show-time .time-code {
  display: inline-block;
}

#chat-box > div .tab {
  display: none;
}

#chat-box > div #side-bar {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  width: 208px;
  height: 100%;
  background-color: #004B6E;
  padding: 0 0 0 3.2px;
  box-shadow: inset 3.2px 0 0 0 #004B6E;
  overflow-y: auto;
}

#chat-box > div #side-bar .parent .parent #logout {
  text-align: right;
  box-shadow: 0 3.2px 0 0 #004B6E, 0 6.4px 0 0 #9be0ff;
}

#chat-box > div #side-bar .parent .parent #logout button {
  border: none;
  padding: 3.2px 8px;
  background-color: #9be0ff;
  color: #004B6E;
  border-radius: 0 8px 0 0;
}

#chat-box > div #side-bar .parent .parent #logout button:hover {
  background-color: #017ab1;
}

#chat-box > div #side-bar .parent .parent #logout button:active {
  background-color: #9be0ff;
}

#chat-box > div #side-bar .parent .parent #room-list {
  text-align: left;
}

#chat-box > div #side-bar .parent .parent #room-list ul {
  padding: 0;
}

#chat-box > div #side-bar .parent .parent #room-list .room {
  list-style: none;
  color: #9be0ff;
}

#chat-box > div #side-bar .parent .parent #room-list .room > span {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background-color: #017ab1;
  padding: 6.4px 24px;
}

#chat-box > div #side-bar .parent .parent #room-list .room:not(:last-child) {
  margin: 0 0 1.6px;
}

#chat-box > div #side-bar .parent .parent #room-list .room:before {
  content: "-";
  position: absolute;
  top: 0;
  left: 8px;
  transition: all 0s;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
}

#chat-box > div #side-bar .parent .parent #room-list .room:after {
  content: "\2610";
  position: absolute;
  top: 0px;
  right: 8px;
}

#chat-box > div #side-bar .parent .parent #room-list .room.inside:after {
  content: "\2611";
}

#chat-box > div #side-bar .parent .parent #room-list .room ul {
  display: none;
  padding: 0 0 0 16px;
}

#chat-box > div #side-bar .parent .parent #room-list .room ul .user {
  list-style: none;
  padding: 6.4px 0;
}

#chat-box > div #side-bar .parent .parent #room-list .room ul .user:hover {
  text-decoration: underline;
  cursor: pointer;
}

#chat-box > div #side-bar .parent .parent #room-list .room ul .user:before {
  content: "\2517";
  margin: 0 3.2px 0 0;
}

#chat-box > div #side-bar .parent .parent #room-list .room ul .user .icon {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  display: inline-block;
}

#chat-box > div #side-bar .parent .parent #room-list .room ul .user .icon.muted:before {
  content: "";
  position: absolute;
  top: -3.2px;
  left: 6.08px;
  width: 3.2px;
  height: 24px;
  background-color: red;
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#chat-box > div #side-bar .parent .parent #room-list .room.open ul {
  display: block;
}

#chat-box > div #side-bar .parent .parent #room-list .room.open:before {
  content: "+";
  top: 1.6px;
  left: 6.4px;
}

#chat-box > div #side-bar .parent .parent #room-list .room.draggable {
  position: fixed;
  box-shadow: 0 0 3.2px 1.6px white;
  transition: 0s all;
  -webkit-transition: 0s all;
  -moz-transition: 0s all;
}

#chat-box > div #tools {
  height: 32px;
  background-color: #004B6E;
  text-align: left;
}

#chat-box > div #tools * {
  vertical-align: top;
}

#chat-box > div #tools input {
  height: 100%;
  width: 32px;
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 100%;
  border: none;
  background-color: #e8f8ff;
  box-shadow: inset 0 0 0 4px #004B6E;
}

#chat-box > div #tools input:checked {
  background: #017ab1;
  box-shadow: inset 0 0 0 4px #004B6E, inset 0 0 0 8px #e8f8ff;
}

#chat-box > div #tools label {
  padding: 1.5% 0;
  display: inline-block;
  color: #e8f8ff;
}

#chat-box > div #tools #emotes {
  position: relative;
  height: 16px;
  width: 64px;
  vertical-align: bottom;
  display: inline-block;
  margin: 0 0 6.4px;
  background-color: white;
  list-style: none;
  padding: 0;
  bottom: 0;
  overflow: hidden;
  -ms-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

#chat-box > div #tools #emotes li {
  width: 100%;
  min-width: 128px;
}

#chat-box > div #tools #emotes li img {
  height: 16px;
}

#chat-box > div #tools #emotes li:hover {
  background-color: #058BC7;
}

#chat-box > div #tools #emotes + #opener {
  width: 16px;
  height: 16px;
  margin: 0 0 8px;
  color: #e8f8ff;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
}

#chat-box > div #tools #emotes.open {
  height: 160px;
  width: 128px;
  bottom: 134.4px;
  overflow-x: hidden;
  overflow-y: auto;
}

#chat-box > div #chat-form {
  width: 100%;
}

#chat-box > div #chat-form #list-box {
  position: absolute;
  bottom: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  border-radius: 8px;
  background-color: #004B6E;
  display: none;
  box-shadow: 0 0 0 1.6px #9be0ff;
  border-radius: 8px;
  overflow: hidden;
}

#chat-box > div #chat-form #list-box li {
  list-style: none;
  color: #004B6E;
  background-color: #9be0ff;
}

#chat-box > div #chat-form #list-box li:first-child {
  border-radius: 8px 8px 0 0;
}

#chat-box > div #chat-form #list-box li:last-child {
  border-radius: 0 0 8px 8px;
}

#chat-box > div #chat-form #list-box li:hover, #chat-box > div #chat-form #list-box li.hovered {
  color: #e8f8ff;
  background-color: #017ab1;
}

#chat-box > div #chat-form .fillout {
  padding: 0 59.2px 0 0;
  box-shadow: 0 -1.6px 0 0 #9be0ff;
}

#chat-box > div #chat-form .fillout #chat-val {
  width: 100%;
  border-radius: 0 0 0 8px;
  border: none;
  padding: 3.2px;
  margin: 0;
  background: white;
  opacity: 1;
}

#chat-box > div #chat-form .fillout button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  padding: 3.2px 8px;
  margin: 0;
  background-color: #9be0ff;
  color: #969696;
}

#chat-box > div #chat-form .fillout button:hover {
  background-color: #017ab1;
}

#chat-box > div #chat-form .fillout button:active {
  background-color: #9be0ff;
}

#chat-box > div #chat-form .fillout button.full {
  color: black;
}

#chat-box.pm > div {
  padding: 0 0px 24.64px 0;
}

/*admin chat*/
#admin {
  position: relative;
  display: block;
  width: 100%;
  min-width: 640px;
  max-width: 640px;
  height: 100%;
  padding: 18px 0 16.96px;
  margin: 0 auto;
  background: #00a2eb;
  border-radius: 8px;
  box-shadow: 0 0 0 3.2px #004B6E;
  text-align: center;
  pointer-events: auto;
}

#admin #chat-box {
  position: relative;
  top: 0;
  left: 0;
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  display: block;
  width: 100%;
  height: 100%;
}

#admin .panel {
  height: 100%;
  display: none;
}

#admin .tab {
  position: relative;
  top: -3.2px;
  z-index: 0;
  background-color: #9be0ff;
  border-radius: 8px 8px 0 0;
  padding: 8px;
  margin: 0 8px;
}

#admin .tab:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -16px;
  width: 16px;
  height: 16px;
  border-radius: 0 0 8px 0;
  box-shadow: 8px 8px 0 0 #9be0ff;
}

#admin .tab:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -16px;
  width: 16px;
  height: 16px;
  border-radius: 0 0 0 8px;
  box-shadow: -8px 8px 0 0 #9be0ff;
}

#admin input#chat:checked + label {
  top: -9.6px;
}

#admin input#chat:checked ~ .panel.chat {
  display: block;
}

#admin input#chat-opt:checked + label {
  top: -9.6px;
}

#admin input#chat-opt:checked ~ .panel.chat-opt {
  display: block;
}

#admin input#rooms:checked + label {
  top: -9.6px;
}

#admin input#rooms:checked ~ .panel.rooms {
  display: block;
}

#admin input#users:checked + label {
  top: -9.6px;
}

#admin input#users:checked ~ .panel.users {
  display: block;
}

#admin input#addrs:checked + label {
  top: -9.6px;
}

#admin input#addrs:checked ~ .panel.addrs {
  display: block;
}

#admin #mgmt {
  position: relative;
  top: 0;
  left: 0;
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  display: block;
  width: 100%;
  height: 100%;
  max-width: 640px;
  background-color: #00a2eb;
  border-radius: 8px;
  box-shadow: 0 0 0 3.2px #004B6E;
}

#admin #mgmt #item-list {
  vertical-align: top;
  margin: 0;
  padding: 0px;
  display: inline-block;
  width: 25%;
  box-shadow: 1.6px 0 0 0 #004B6E;
  height: 100%;
}

#admin #mgmt #item-list .item {
  list-style: none;
  text-align: left;
  color: #9be0ff;
}

#admin #mgmt #item-list .item:first-child span.name {
  border-radius: 8px 0 0 0;
}

#admin #mgmt #item-list .item > .name {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background-color: #017ab1;
  padding: 1.6px 3.2px;
}

#admin #mgmt #item-list .item:not(:last-child) {
  margin: 0 0 1.6px;
}

#admin #mgmt #item-list .item .number {
  position: absolute;
  top: 0;
  right: 16px;
}

#admin #mgmt #item-options {
  vertical-align: top;
  display: inline-block;
  width: 75%;
  height: 100%;
  overflow-y: auto;
}

#admin #mgmt #item-options .title {
  margin: 0 0 16px;
}

#admin #mgmt #item-options .option-box #banned-list, #admin #mgmt #item-options .option-box #recommended-list {
  padding: 0;
  margin: 0;
}

#admin #mgmt #item-options .option-box #banned-list .word, #admin #mgmt #item-options .option-box #banned-list .addr, #admin #mgmt #item-options .option-box #banned-list .emote, #admin #mgmt #item-options .option-box #recommended-list .word, #admin #mgmt #item-options .option-box #recommended-list .addr, #admin #mgmt #item-options .option-box #recommended-list .emote {
  list-style: none;
  display: inline-block;
  margin: 4px;
  padding: 4px;
  border-radius: 8px;
  background-color: #017ab1;
}

#admin #mgmt #item-options .option-box #banned-list .word .close, #admin #mgmt #item-options .option-box #banned-list .addr .close, #admin #mgmt #item-options .option-box #banned-list .emote .close, #admin #mgmt #item-options .option-box #recommended-list .word .close, #admin #mgmt #item-options .option-box #recommended-list .addr .close, #admin #mgmt #item-options .option-box #recommended-list .emote .close {
  display: inline-block;
  background-color: #004B6E;
  margin: 0 0 0 4px;
  padding: 0 4.8px;
  border-radius: 100%;
  cursor: pointer;
}

#admin #mgmt #item-options form {
  text-align: left;
}

#admin #mgmt #item-options form input, #admin #mgmt #item-options form select, #admin #mgmt #item-options form button {
  background-color: #e8f8ff;
  padding: 8px;
  border: none;
  border-radius: 8px;
  width: 100%;
}

#admin #mgmt #item-options form input[type="radio"], #admin #mgmt #item-options form select[type="radio"], #admin #mgmt #item-options form button[type="radio"] {
  width: auto;
}

#admin #mgmt #item-options form input[type="color"], #admin #mgmt #item-options form select[type="color"], #admin #mgmt #item-options form button[type="color"] {
  width: 48px;
  height: 48px;
}

#admin #mgmt #item-options form button {
  cursor: pointer;
  box-shadow: 0 0 0 0px #9be0ff;
}

#admin #mgmt #item-options form button:hover {
  box-shadow: 0 0 0 3.2px #9be0ff;
}

#admin #mgmt #item-options form .options {
  text-align: left;
}

#admin #mgmt #item-options form > div:not(:last-child) {
  display: inline-block;
  width: 50%;
  margin: 0 0 8px;
  padding: 0 16px;
}

#admin #mgmt #item-options form > div:not(:last-child) label {
  vertical-align: top;
  font-weight: bold;
}

.banned-true:before {
  content: "\2716";
}

#new-context-menu {
  z-index: 1;
  transition: 0s all;
  -webkit-transition: 0s all;
  -moz-transition: 0s all;
  position: fixed;
  display: none;
  padding: 0;
  margin: 0;
  width: 80px;
  box-shadow: 0 0 0 1.6px #004B6E;
  border-radius: 8px;
  overflow: hidden;
}

#new-context-menu li {
  width: 100%;
  list-style: none;
  padding: 8px;
  color: #004B6E;
  background-color: #e8f8ff;
  cursor: pointer;
}

#new-context-menu li:not(:last-child) {
  box-shadow: 0 9.6px 0 -8px #004B6E;
}

#new-context-menu li:hover {
  background-color: #00a2eb;
}

#new-context-menu li:first-child {
  border-radius: 8px 8px 0 0;
}

#new-context-menu li:last-child {
  border-radius: 0 0 8px 8px;
}

/* private messaging box*/
.pm-box {
  z-index: 4;
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  transition: all 0s;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  width: 400px;
  max-width: 100vw;
  height: 320px;
  border-radius: 8px;
  box-shadow: 0 0 0 3.2px #004B6E;
  background-color: #9be0ff;
  margin: 0;
  vertical-align: top;
}

.pm-box .tools {
  top: 0;
  left: 0;
  display: block;
  z-index: 5;
}

.pm-box .tools .tool {
  position: relative;
  display: inline-block;
  margin: 0 0px 0 0;
  background-color: #00a2eb;
  box-shadow: 0 0 0 1.6px #004B6E;
  padding: 0 12px;
  cursor: pointer;
}

.pm-box .tools .tool.closer {
  border-radius: 8px 0 0 0;
}

.pm-box .tools .tool.mover {
  border-radius: 0 0 8px 0;
}

.pm-box .tools span {
  display: inline-block;
  padding: 0 0.5em;
  font-weight: bold;
}

.pm-box .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 3.2px solid #004B6E;
  border-color: #004B6E transparent transparent transparent;
}

.pm-box iframe {
  margin: 1.6px 0 0;
  position: relative;
  z-index: 2;
  border-radius: 0 0 8px 8px;
}

.pm-box.closed {
  z-index: 1;
  position: relative;
  width: 144px;
  height: 22.4px;
  margin: 3.2px 3.2px 0;
}

.pm-box.closed .tools span {
  display: none;
}

.pm-box.closed iframe {
  height: 0%;
}

.pm #messages {
  border-radius: 0 0 8px 8px;
}

.pm #chat-box {
  height: 100%;
}

.pm #chat-box button {
  border-radius: 0 0 8px 0;
}

#pm-section {
  z-index: 4;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 56px;
  width: 100%;
}

#pm-section > div {
  position: relative;
  width: 100%;
  height: 100%;
}

#pm-section > div > div {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

#pm-section > div > div > div {
  display: inline-block;
  height: 100%;
  column-width: 160px;
  -webkit-column-width: 160px;
  -moz-column-width: 160px;
  pointer-events: auto;
}

/* footer ----------------------------*/
footer {
  z-index: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* hover events ----------------------------*/
/*///////////////////////// responsive styling /////////////////////////*/
@media screen and (max-width: 1024px) {
  /* prereqs ----------------------------*/
  .col-4-3-2-1 {
    display: inline-block;
    width: 33.3333333333%;
  }
  /* header ----------------------------*/
  /* body ----------------------------*/
  /* footer ----------------------------*/
  /* hover events ----------------------------*/
}

@media screen and (max-width: 800px) {
  /* prereqs ----------------------------*/
  .col-4-3-2-1 {
    display: inline-block;
    width: 50%;
  }
  .col-3-2-1 {
    display: inline-block;
    width: 50%;
  }
  /* header ----------------------------*/
  /* body ----------------------------*/
  /* footer ----------------------------*/
  /* hover events ----------------------------*/
}

@media screen and (max-width: 540px) {
  /* prereqs ----------------------------*/
  .col-4-3-2-1 {
    display: block;
    width: 100%;
  }
  .col-3-2-1 {
    display: block;
    width: 100%;
  }
  .col-2-1 {
    display: block;
    width: 100%;
  }
  /* header ----------------------------*/
  /* body ----------------------------*/
  #chat-box > div #tools div.no-mob {
    display: none;
  }
  /* footer ----------------------------*/
  /* hover events ----------------------------*/
}

@media screen and (max-width: 480px) {
  /* prereqs ----------------------------*/
  /* header ----------------------------*/
  /* body ----------------------------*/
  #chat-box > div {
    padding: 0 0px 56.64px 0;
  }
  #chat-box > div .tab {
    display: inline-block;
    position: absolute;
    top: 40px;
    right: -1.6px;
    width: 32px;
    height: 32px;
    padding: 0px 0;
    border-radius: 4px 0 0 19.2px;
    background-color: #004B6E;
    font-weight: bold;
    color: #e8f8ff;
    text-align: center;
    cursor: pointer;
  }
  #chat-box > div .tab > div {
    font-size: 22.4px;
  }
  #chat-box > div .tab:after {
    content: "";
    position: absolute;
    bottom: -16px;
    right: 1.6px;
    width: 16px;
    height: 16px;
    box-shadow: 0px 0 0 #004B6E;
    border-radius: 0 8px 0;
  }
  #chat-box > div #side-bar {
    right: -208px;
    padding: 0 0 25.6px 3.2px;
    overflow-y: auto;
  }
  #chat-box > div #messages {
    border-radius: 8px 8px 0 0;
  }
  #chat-box > div #chat-form .fillout button {
    border-radius: 0 0 8px 0;
  }
  #chat-box.open-side > div .tab {
    right: 206.4px;
  }
  #chat-box.open-side > div #side-bar {
    right: 0px;
  }
  /* footer ----------------------------*/
  /* hover events ----------------------------*/
}

/*///////////////////////// animations /////////////////////////*/
.spinner {
  /*moz*/
  -moz-animation: spin 0.3s linear 0s infinite normal running;
  /*webkit*/
  -webkit-animation: spin 0.3s linear 0s infinite normal running;
  /*standard*/
  animation: spin 0.3s linear 0s infinite normal running;
}

/*---- media query for $val ----*/
@-moz-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
